@charset "UTF-8";

/* 基本 */
body {
  font-family: "Roboto", sans-serif;
  background: transparent
    linear-gradient(180deg, #3a0757 0%, #3a0757 28%, #042230 100%) 0% 0%
    no-repeat padding-box;
  color: #ffffff;
}

body,
h1,
h2,
h3,
p,
figure,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* コンテナ */
.container {
  width: 92%;
  max-width: 1214px;
  margin-left: auto;
  margin-right: auto;
}

/* メインコンテンツ */
main section {
  margin: 36px 0;
  padding: 31px 10px 43px;
  border-radius: 20px;
  background-color: #ffffff;
  color: #621f82;
}

main h2 {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

main h2 + p {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 768px) {
  main section {
    padding: 58px 50px 70px;
  }
  main h2 {
    font-size: 32px;
    text-align: left;
  }
  main h2 + p {
    text-align: left;
  }
}

/* テーブル */
.table {
  width: 100%;
  min-width: 550px;
  table-layout: fixed;
  border-spacing: 0;
  text-align: center;
}
.table th,
.table td {
  padding: 5px 0;
  border-bottom: solid 1px #d3d3d3;
  color: #282832;
  font-size: 14px;
}
.table thead th {
  border-top: solid 1px #d3d3d3;
}

.table th:nth-child(2) {
  text-align: left;
}

.table tbody th:nth-child(1) {
  font-weight: normal;
}

.table th:nth-child(1) {
  width: 42px;
  background-color: #282832;
  color: #ffffff;
}

.table th:nth-child(2) {
  width: 150px;
  padding-right: 10px;
  box-sizing: border-box;
  background-color: #282832;
  color: #ffffff;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.2);
}
.table th:nth-child(2) a {
  display: flex;
  align-items: center;
}

.table th:nth-child(2) img {
  width: 24px;
  height: auto;
  padding: 3px 13px 3px 3px;
}
.table th:last-child {
  width: 150px;
}

.table td:last-child img {
  width: 16px;
  height: auto;
}
.table tbody tr:nth-child(odd) {
  background: #eeeeee;
}

@media (max-width: 899px) {
  .table th,
  .table td {
    font-size: 13px;
  }
  .table thead span {
    writing-mode: vertical-rl;
    height: 48px;
  }
  .table th:nth-child(2) {
    width: 120px;
  }
}

/* レスポンシブルテーブル */
.table-wrapper {
  overflow: auto;
  margin-top: 28px;
}
.table th:nth-child(1) {
  -webkit-position: sticky;
  position: sticky;
  left: 0;
}
.table th:nth-child(2) {
  -webkit-position: sticky;
  position: sticky;
  left: 42px;
}
