// .container {
//   width: 84%;
//   margin: 0 auto;
// }

// @media (min-width: 900px) {
//   .container {
//     width: 91%;
//     max-width: 1240px;
//   }
// }

/* ヘッダー */
.header-container {
  width: 84%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;

  /* ヘッダー：サイト名 */
  &__site {
    display: flex;
    align-items: center;

    img {
      width: 42px;
      margin-right: 10px;
    }
  }

  //   &__text-wrapper {
  //   }

  &__corp {
    color: #333333;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
  }

  &__desc {
    color: #707f89;
    font-size: 10px;
    line-height: 1.4;
  }

  /* ナビゲーションボタン */
  &__nav-button {
    box-sizing: content-box;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    width: 20px;
    height: 14px;
    cursor: pointer;
    color: #2e5180;
  }

  &__nav-button::before,
  &__nav-button::after {
    content: "";
    display: block;
    height: 2px;
    background-color: currentColor;
    transform: translateY(5px);
    transition: 0.3s ease-in-out;
  }

  &__nav-button::before {
    transform: translateY(-5px);
    box-shadow: 0 6px currentColor;
  }

  &__sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

@media (min-width: 900px) {
  .header-container {
    width: 91%;
    max-width: 1240px;
    height: 100px;

    &__site {
      img {
        width: 59px;
        margin-right: 18px;
      }
    }
    &__corp {
      font-size: 20px;
    }

    &__desc {
      font-size: 12px;
    }
  }
}

/* ヒーロー */
.Hero {
  height: 400px;
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-size: cover;
  display: flex;

  &__Catch {
    flex: auto;
    align-self: flex-end;
    padding: 33px 0;
    background-color: rgba(255, 255, 255, 0.76);
  }

  &__Catch--container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    line-height: 1.3;
    width: 84%;
    margin: 0 auto;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
  }

  p {
    font-size: 14px;
    color: #2e5180;
    margin-bottom: 15px;
  }
}

@media (min-width: 900px) {
  .Hero {
    height: 700px;

    &__Catch {
      padding: 47px 0 44px;
    }
    p {
      font-size: 16px;
      margin-bottom: 22px;
    }
  }
}

/* ヒーロー：IE対応 */
@media (-ms-high-contrast: none), not all and (-ms-high-contrast: none) {
  .Hero img {
    width: calc((100vw - 17px) * 0.84);
    max-width: 637.78px;
  }
}

// メッセージ

.Message {
  padding: 67px 0;
  background-color: #2e5180;
  color: #ffffff;

  &--container {
    width: 84%;
    margin: 0 auto;

    .Message__title {
      margin-bottom: 38px;
      font-size: 24px;
      line-height: 1.67;
      text-align: center;
    }
    .Message__contents {
      max-width: 640px;
      margin: auto;
      font-size: 14px;
      line-height: 1.86;
    }
  }
}

@media (min-width: 900px) {
  .Message {
    padding: 81px 0;
    .Message--container {
      .Message__title {
        font-size: 36px;
        line-height: 1.33;
      }
    }
  }
}

@media (max-width: 374px) {
  .Message {
    .Message--container {
      .Message__title {
        font-size: 20px;
      }
    }
  }
}

/* サービス */
.service {
  padding: 67px 0;
  text-align: center;
  h2 {
    display: inline-block;
    margin-bottom: 16px;
    padding-bottom: 9px;
    border-bottom: dotted 2px currentColor;
    font-size: 24px;
    color: #2e5180;
  }
  h2 + p {
    color: #2e5180;
    font-size: 16px;
  }
}

/* サービス： サービスの詳細 */
.Details {
  margin-top: 53px;
  color: #333333;
}

.Details__Detail {
  &:not(:last-child) {
    margin-bottom: 67px;
  }
  h3 {
    margin-bottom: 17px;
    font-size: 20px;
    line-height: 1.75;
  }

  p {
    max-width: 264px;
    margin: 0 auto 25px;
    font-size: 12px;
    line-height: 2;
  }

  figure {
    height: 246px;
    margin-bottom: 22px;
    background-position: center;
    background-size: cover;
  }
}

.Details__Detail__OfficeImage {
  background-image: url(../img/office.jpg);
}
.Details__Detail__ManageImage {
  background-image: url(../img/manage.jpg);
}
.Details__Detail__ReasrchImage {
  background-image: url(../img/research.jpg);
}

@media (min-width: 900px) {
  .Details {
    display: flex;
    margin-top: 75px;
  }

  .Details__Detail {
    flex: 1;
    margin-right: 3.22%;
    /* ボタンの位置を揃える */
    display: flex;
    flex-direction: column;

    &:first-child {
      margin-left: 3.22%;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }

    h3 {
      margin-bottom: 26px;
      font-size: 30px;
      line-height: 1.4;
    }

    p {
      width: 78%;
      max-width: none;
    }

    figure {
      height: 360px;
      margin-bottom: 33px;
    }

    /* ボタンの位置を揃える */
    .btn {
      margin-top: auto;
    }
  }
}

/* ボタン */
.btn {
  display: block;
  width: 208px;
  margin: 0 auto;
  padding: 11px 11px 13px;
  box-sizing: border-box;
  border: solid 2px currentColor;
  border-radius: 24px;
  color: #2e5180;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
