@charset "UTF-8";

/* font-family: 'Noto Sans JP', sans-serif; */

/* 基本色 */
:root {
  --primary: #96a199;
  --secondary: #e9ece8;
  --accent: #b75865;
  --text: #54603f;
  --white: #ffffff;
}

/* 基本サイズ */
:root {
  --size1-half: calc(var(--size1) / 2);
  --size1: 5vw;
  --size2: calc(var(--size1) * 2);
  --size3: calc(var(--size1) * 3);
  --size4: calc(var(--size1) * 4);
}

/* 基本設定 */
body {
  color: var(--text);
  font-family: "Noto Sans JP", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  opacity: 0.9;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* Clamp */
*,
*::before,
*::after {
  /* 最小サイズ、最大サイズ、最小画面幅、最大画面幅 */
  --min-size: 53;
  --max-size: 146;
  --min-viewport: 375;
  --max-viewport: 1440;

  /* a 傾き */
  --slope: calc(
    (var(--max-size) - var(--min-size)) /
      (var(--max-viewport) - var(--min-viewport))
  );
  /* b 切片 */
  --intercept: calc(var(--min-size) - var(--slope) * var(--min-viewport));
  /* y = ax + b 可変サイズ */
  --fluid-size: calc(var(--slope) * 100vw + var(--intercept) / 16 * 1rem);

  /* clamp(最小サイズ, 可変サイズ, 最大サイズ) */
  --clamp-size: clamp(
    var(--min-size) / 16 * 1rem,
    var(--fluid-size),
    var(--max-size) / 16 * 1rem
  );
}

/* テキスト（Fluid typography） */
h1 {
  font-size: var(--clamp-size);
  font-family: "Lora", serif;
  font-weight: 400;
  background: linear-gradient(92.21deg, #54603f 6.06%, #a2cf4f 95.93%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2,
.subtitle {
  --min-size: 26;
  --max-size: 42;
  font-size: var(--clamp-size);
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  line-height: 1.5;
}

p {
  --min-size: 14;
  --max-size: 16;
  font-size: var(--clamp-size);
  font-weight: 400;
  line-height: 1.8;
}

.num {
  font-size: 6.4rem;
  font-family: "Lora", serif;
  font-weight: 400;
  background: linear-gradient(0.96deg, #54603f 0.35%, #a2cf4f 182.75%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* レイアウト ----------------- */
/* セクションの間隔 */
section + section {
  --min-size: 140;
  --max-size: 288;
  margin-block-start: var(--clamp-size);
}

/* ヘッダー ----------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--size1);
}

/* ロゴ */
.header-logo {
  width: max(94px, var(--size2));
}

/* ハンバーガーボタン */
.navbtn {
  all: unset;
  outline: revert;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  width: max(46px, var(--size1));
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  color: var(--primary);
}

.navbtn-bar,
.navbtn::before,
.navbtn::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  grid-area: 1 / 1;
  transition: transform 0.5s;
}
.navbtn::before {
  transform: translateY(-12px);
}
.navbtn::after {
  transform: translateY(12px);
}

.open .navbtn-bar {
  transform: scale(0);
}
.open .navbtn::before {
  transform: translateY(0) rotate(45deg);
}
.open .navbtn::after {
  transform: translateY(0) rotate(-45deg);
}

.open .navbtn {
  color: var(--white);
  z-index: 200;
}

/* スクリーンリーダー */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
