@use "./../../foundation/color" as *;

.c-button {
  display: inline-block;
  height: 43px;
  width: 172px;
  text-align: center;
  color: $c-main;
  background-color: $c-accent;
  border: solid 2px $c-accent;
  border-radius: 50px;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
}

.c-button--large {
  display: inline-block;
  padding: 10px 100px;
  color: $c-main;
  background-color: $c-accent;
  border: solid 2px $c-accent;
  border-radius: 20px;
  text-decoration: none;
}
