@use "./../../foundation/color" as *;

.c-heading {
  margin-top: 33px;
  border-bottom: solid 1px $c-accent;
  display: flex;
  justify-content: start;
  align-items: center;

  &__title {
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 16px;
  }
  &__subtitle {
    font-size: 19.2px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 34px;
  }
}
