.l-fv {
  background-image: url(../img/ページトップ.png);
  height: 396px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 396px;
    width: 100%;

    background: rgba(0, 0, 0, 0.5);
  }

  &__title {
    margin-top: 170px;
    margin-left: 164px;
    z-index: 1;
  }

  &__content {
    font-weight: 400;
    font-size: 40px;
    line-height: 57px;
  }
}
