@use "./../foundation/color" as *;
// $c-base: rgb(0, 0, 0);
// $c-main: rgb(255, 255, 255);
// $c-accent：: rgb(153, 0, 0);

.l-header {
  // position: sticky;
  // top: 0;
  // background-color: $color-black;
  // z-index: 1;

  &__black {
    background-color: $c-base;
    height: 77px;
  }

  &__wrapper {
    width: 800px;
    margin: 0 auto;
  }

  &__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-block;
    // max-width: 40%;
    // color: $color-base;
    width: 221px;
    height: 56px;
    margin-left: 35px;
    margin-top: 2px;
  }

  &__btn-wrapper {
    margin-right: 25px;
    margin-top: 10px;
  }

  &__nav {
  }

  &__nav-lists {
    height: 49px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $c-main;
    color: $c-base;
  }
  &__nav-list {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__nav-link {
    color: $c-base;
  }
}
