.p-home-info {
  margin-top: 50px;
  margin-bottom: 48px;
  display: flex;

  &__text {
    width: 50%;
    margin-top: 25px;
    margin-left: 55px;
    margin-right: 43px;
  }
  &__content {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff;
  }
  &__content--text-large {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
  }
  &__content--text-large--ml13 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    margin-left: 13px;
  }

  &__map {
    width: 50%;

    iframe {
      width: 450px;
      height: 306px;
    }
  }
}
