.p-home-cv {
  // リファクタリング必須
  height: 371px;
  padding-top: 50px;
  &__text {
  }
  &__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
    text-align: center;
  }
  &__content {
    width: 585px;
    margin: 0 auto;
    margin-top: 17px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
  }

  &__btn-wrapper {
    margin-top: 45px;
    text-align: center;
  }
}
