.p-menu-body {
  &__text {
    font-weight: 700;
    font-size: 19.2px;
    line-height: 28px;
    margin-top: 16px;
  }

  &__price-list {
    border-bottom: 1px dashed #ffffff;
  }

  &__main-wrapper {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
  }
  &__left-wrapper {
    display: flex;
    width: 50%;
    gap: 30px;
  }
  &__right-wrapper {
    display: flex;
    width: 50%;
    gap: 30px;
    justify-content: flex-end;
  }

  &__course-desc {
    margin-top: 7px;
    margin-bottom: 10px;
  }

  &__course--red {
    padding: 5px 20px;
    background: #990000;
    width: 100px;
    height: 33px;
    display: inline-block;
  }
  &__course {
    font-family: "Noto Serif JP";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
  }

  &__time {
    font-weight: 700;
    font-size: 19.2px;
    line-height: 28px;
    /* ボックスの高さと同一 */
    text-align: right;
  }

  &__price {
    font-weight: 700;
    font-size: 19.2px;
    line-height: 28px;
    /* ボックスの高さと同一 */
    text-align: right;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
}
