@use "./../../foundation/color" as *;

.p-notes-caution {
  margin-bottom: 42px;
  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    margin-top: 16px;
  }
  &__list-title {
    font-size: 24px;
    line-height: 34px;
    margin-top: 13px;
    margin-left: 2px;
  }
  &__lists {
    margin-top: 7px;
    margin-left: 12px;
    li {
      font-size: 16px;
      line-height: 23px;
    }
  }
  &__span--red {
    color: $color-accent;
    margin-left: -5px;
  }

  &__text--red {
    font-size: 14px;
    line-height: 20px;
    color: $color-accent;
    margin-top: 6px;
    margin-left: 13px;
  }

  &__lists--mt13 {
    margin-top: 13px;
    margin-left: 12px;
    li {
      font-size: 16px;
      line-height: 23px;
    }
    li:last-child {
      margin-top: 5px;
    }
  }

  // スタイル当たらない
  // &__list {
  //   font-size: 16px;
  //   line-height: 23px;
  //   margin-top: 1px;
  //   margin-right: 1px;
  //   margin-left: 1px;
  //   margin-bottom: 1px;
  // }
  // &__list--red {
  //   font-size: 14px;
  //   line-height: 20px;
  //   color: $color-accent;
  // }
}
