@use "./../../foundation/color" as *;

.p-recruit-outline {
  &__table {
    margin: 0 auto;
    margin-bottom: 70px;
    margin-top: 44px;
  }
  // &__tbody {
  // }
  &__tr {
    height: 65.5px;
    font-size: 18px;
  }
  &__th {
    border: solid 1px;
    padding-top: 18px;
    text-align: center;
    width: 247px;
  }
  &__td {
    border: solid 1px;
    padding-top: 18px;
    text-align: center;
    width: 493px;

    &--text-small {
      border: solid 1px;
      padding-top: 18px;
      text-align: center;
      width: 493px;
      font-size: 16px;
      color: $c-main;
      a {
        color: $c-main;
      }
    }
  }
  &__text-right {
    margin-left: 20px;
    &--ml10 {
      margin-left: 10px;
    }
  }
}
