@use "./../../foundation/color" as *;

.p-recruit-outline {
  &__table {
    margin: 0 auto;
    margin-bottom: 70px;
    margin-top: 44px;
  }
  // &__tbody {
  // }
  &__tr {
    height: 65.5px;
    // font-size: 18px;
  }
  &__th {
    border: solid 1px;
    padding-top: 21px;
    letter-spacing: 2px;
    text-align: center;
    letter-spacing: 0px;

    width: 247px;
  }
  &__td {
    border: solid 1px;
    padding-top: 21px;
    letter-spacing: 2px;
    text-align: center;
    width: 493px;

    &--text-small {
      border: solid 1px;
      padding-top: 18px;
      text-align: center;
      width: 493px;
      color: $c-main;
      a {
        color: $c-main;
        text-decoration: underline;
      }
    }
  }
  &__text-right {
    margin-left: 6px;
    &--ml10 {
      margin-left: 10px;
    }
  }

  &__text-half {
    letter-spacing: 0px;
    transform: scale(0.75, 1);
    display: inline-block;
    margin-left: -10px;
  }
}
