.p-salon-about {
  &__contents {
    display: flex;
    justify-content: flex-start;
    margin-top: 27px;
  }
  &__image {
    width: 250px;
    height: 250px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__text {
    margin-top: 12px;
    margin-left: 92px;
  }
  &__text-content-top {
    text-align: center;
    margin-bottom: 10px;
    line-height: 23px;
    margin-left: -21px;
  }
  &__text-content {
    text-align: center;
    margin-bottom: 10px;
    line-height: 23px;
  }

  &__contents--reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 16px;
  }

  &__text--reverse {
    margin-top: 30px;
    margin-top: 41px;
    margin-left: 6px;
  }
}
