.p-salon-about {
  &__contents {
    display: flex;
    justify-content: flex-start;
    margin-top: 27px;
  }
  &__image {
    width: 250px;
    height: 250px;
  }
  &__text {
    margin-top: 12px;
    margin-left: 92px;
  }
  &__text-content-top {
    text-align: center;
    margin-bottom: 10px;
    margin-left: -21px;
  }
  &__text-content {
    text-align: center;
    margin-bottom: 10px;
  }

  &__contents--reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 16px;
  }

  &__text--reverse {
    margin-top: 30px;
    margin-top: 41px;
    margin-left: 6px;
  }
}
