@charset "UTF-8";

/* 基本：フォント */
body {
  font-family: sans-serif;
}

.en {
  font-family: "Josefin Sans", sans-serif;
}

/* 基本：余白 */
* {
  margin: 0;
  padding: 0;
}

/* 基本：リスト */
ul {
  list-style: none;
}
/* 基本：リンク */
a {
  color: inherit;
  text-decoration: none;
}
/* 基本；画像 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* 基本SR用テキスト */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ページグリッド */
.pageGrid {
  display: grid;
  grid-template-columns: 72px auto 72px;
  grid-template-rows: 72px auto auto;
}

/* パーツグリッド */
.partsGrid {
  display: grid;
  grid-template-columns: 20px auto 20px;
}

.partsGrid > *,
.partsGrid::before,
.partsGrid::after {
  grid-column: 2;
}

@media (min-width: 768px) {
  .partsGrid {
    grid-template-columns: minmax(72px, 1fr) minmax(auto, 1074px) minmax(
        72px,
        1fr
      );
  }
  .post.partsGrid {
    grid-template-columns: minmax(72px, 1fr) minmax(auto, 860px) minmax(
        72px,
        1fr
      );
  }
}

/* ナビゲーションボタン */
.nav-button {
  grid-column: 3;
  grid-row: 1;
  padding: 0;
  outline: none;
  border: none;
  background-color: #98a718;
  cursor: pointer;
}
/* ナビゲーションボタン 白線*/
.nav-button {
  display: grid;
  place-content: center;
}
.nav-button::before,
.nav-button::after {
  content: "";
  display: block;
  margin: auto;
  width: 32px;
  height: 4px;
  background-color: #ffffff;
}

.nav-button::before {
  transform: translateY(-5px);
}

.nav-button::after {
  transform: translateY(5px);
}

/* SNSメニュー */
.sns {
  grid-column: 3;
  grid-row: 2;
  justify-self: end;
  align-self: start;
  margin-top: 187px;
  margin-right: 10px;
  display: grid;
  gap: 30px;
}

@media (min-width: 768px) {
  .sns {
    justify-self: center;
    margin-right: 0;
  }
}
/* 縦書きテキスト */
.decor {
  grid-column: 1;
  grid-row: 2;
  justify-self: start;
  align-self: start;
  margin-top: 257px;
  margin-left: 10px;
  color: #aaaaaa;
  font-size: 20px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
@media (min-width: 768px) {
  .decor {
    justify-self: center;
    margin-left: 0;
  }
}

/* 丸付きライン */
@media (min-width: 768px) {
  .pageGrid::before,
  .pageGrid::after {
    content: "";
    display: block;
    background-color: #98a718;
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    margin-top: 660px;
  }

  .pageGrid::before {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  .pageGrid::after {
    width: 1px;
    min-height: 200px;
  }
}
/* フッター */
.footer {
  grid-column: 1 / -1;
  grid-row: 3;
  background-color: #000000;
  color: #ffffff;
  padding: 81px 0 86px;
}

.footer > * {
  grid-row: 1;
}

.footer .site {
  margin-bottom: 33px;
  font-size: 37px;
  font-weight: bold;
}
.footer .address {
  font-size: 12px;
  line-height: 1.5;
}
.footer .chat {
  justify-self: end;
  margin-top: -100px;
  color: #98a718;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.footer .chat img {
  padding-bottom: 7px;
}
@media (min-width: 768px) {
  .footer .chat {
    margin-top: 0;
  }
}

/* メインコンテンツ */
main {
  grid-column: 1 / -1;
  grid-row: 2;
}

/* ヘッダー画像  */
.headimg .site {
  margin-top: 33px;
  color: #98a718;
  font-size: 37px;
  font-weight: bold;
}

.headimg figure {
  grid-column: 1/-1;
}

.headimg img {
  width: 100%;
  height: 498px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .headimg figure {
    grid-column: 2;
  }
  .headimg img {
    object-position: center bottom;
  }
}

/* 記事 */
.post {
  padding: 44px 0 99px;
  row-gap: 28px;
}

.psot h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 14px;
}

.post p {
  font-size: 16px;
  line-height: 1.75;
}

@media (min-width: 768px) {
  .post {
    padding: 116px 0;
  }
  .post h1 {
    font-size: 48px;
    margin-bottom: 4px;
  }
  .post p {
    font-size: 18px;
    line-height: 2;
  }
}
