@use "./../foundation/variable" as *;

// .l-header {
//   position: sticky;
//   top: 0;
//   background-color: $color-base;
//   z-index: 1;

//   &__content {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }

//   &__logo {
//     display: inline-block;
//     max-width: 40%;
//   }
// }

// body {
//   background: #81bcd8;
// }
.site-header {
  display: flex;
  padding: 60px 20px;
  position: fixed;
  justify-content: flex-end;
  width: 100%;
  z-index: 1;
}
.gnav__menu {
  display: flex;
}
.gnav__menu__item {
  margin-left: 20px;
}
.gnav__menu__item a {
  color: #333;
  text-decoration: none;
}
