.p-home-right {
  display: flex;
  justify-content: center;
  align-items: center;

  &__fv {
  }

  &__title {
    font-family: "Dela Gothic One", cursive;
    color: black;
    // border: solid 1px;
    width: 250px;
    height: 400px;
    font-size: 60px;
  }
}

// .typed {} js-trigger

.typed {
  font-family: "Dela Gothic One", cursive;
  color: black;
  // border: solid 1px;
  width: 250px;
  height: 400px;
  font-size: 60px;
}
